<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student Registration</title>
</head>
<body>
	<h3>Registration</h3>
	<form>
		<label>Name</label>
		<input type="text" name=""><br/><br/>
		<label>Roll Number</label>
		<input type="text" name=""><br/><br/>
		<label>Branch</label>
		<select>
			<option>--Select Your Branch--</option>
			<option>CSE</option>
			<option>ECE</option>
			<option>EEE</option>
		</select><br/><br/>
	</form>
</body>
</html>